@import "./index";

.intructions,
.tissuesContainer,
.cardContainer {
    @include directionOne(column);
}

.intructions > p {
    @include title(4vw, $pink);
    font-weight: bold;
}

.tissuesContainer > p,
.titleBlack {
    @include title(4vw, $black);
    font-weight: bold;
}

.intructions-cards,
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 25vw;
}

.image-card {
    @include photo-size;
    padding-bottom: 0.5vw;
}

.card-paragraph {
    @include text($black, 1.2vw);
    font-weight: 600;
}

.tissue-lenght {
    background-color: $input-color;
}

.card-number {
    @include text($pink, 1rem);
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .intructions > p,
    .tissuesContainer > p {
        @include title(5vw, $pink);
    }
    .tissuesContainer > p {
        @include title(5vw, $black);
    }
    .intructions-cards {
        flex-direction: column;
        width: 90%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .tissue-lenght {
        text-align: center;
    }
    .card-paragraph {
        @include text($black, 3vw);
    }
}
