@import "./index";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Saira+Condensed:wght@300&display=swap");

.whoWeAreContainer {
    @include directionOne(column);
}

.eConnectTextilLogo {
    display: flex;
    @include logo-size;
}

.pink-button {
    @include pink-button;
}

.buttonContainer {
    @include directionOne(column);
}

.footerContainer {
    font-size: 2vw;
    list-style: none;
    background-color: $pink;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-bottom: 0%;
}

.footerContainer li {
    margin-bottom: 1vw;
}

.footerContainer li a {
    text-decoration: none;
    color: $white;
}

@media screen and (min-width: 700px) {
    .eConnectTextilLogo img {
        display: none;
    }
}
