@import "./index.sass";

.HeaderContainer {
    margin-bottom: 10vw;
}

.HeaderListDesktop {
    @include directionOne(row);
    list-style: none;
}

.HeaderListDesktop li {
    font-size: 2.5vw;
    cursor: pointer;
}

.HeaderListDesktop li a {
    text-decoration: none;
    color: black;
}

.header-button {
    padding: 0.5vw 2vw;
    border: none;
    background-color: $pink;
    color: white;
    font-family: "Roboto Slab", serif;
    border-radius: 0.6vw;
    cursor: pointer;
}

.HeaderListMobile {
    @include directionOne(row);
}

@media screen and (max-width: 700px) {
    .HeaderListDesktop {
        @include directionOne(column);
    }
    .HeaderListDesktop li {
        font-size: 4vw;
        margin-bottom: 1vw;
    }
}
