@import "./variables.sass";

@mixin image-size {
    width: $image-width;
    height: $image-length;
}

@mixin logo-size {
    width: $logo-width;
    height: auto;
}

@mixin photo-size {
    width: $photo-width;
    height: $photo-lenght;
    padding: 0 2rem;
}

@mixin seamstresses-size {
    width: $seamstresses-width;
    height: auto;
    padding: 0 2rem;
}

@mixin seamstresses-mobile-size {
    width: $seamstresses-mobile-width;
    height: auto;
}

@mixin seamstresses-mobile-size2 {
    width: $seamstresses-mobile-width2;
    height: auto;
}

@mixin login-button($color) {
    padding: 0.2rem 0.3rem;
    border-radius: 0.02rem;
    background-color: $color;
}

@mixin seamstresses-name {
    font-size: 1rem;
}

@mixin about-more {
    font-size: 1rem;
    background-color: $pink;
    color: $black;
}

@mixin title($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin titleTwo($color) {
    font-size: 5vw;
    color: $color;
}

@mixin text($color, $size) {
    font-size: $size;
    color: $color;
    text-align: justify;
}

@mixin directionOne($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
    align-items: center;
}

@mixin pink-button {
    background-color: $pink;
    padding: 2vw 3vw;
    text-align: center;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 3rem;
}

@mixin tissues-button {
    background-color: $pink;
    padding: 3vw 4vw;
    text-align: center;
    color: $white;
    border: none;
    border-radius: 0.5rem;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 3rem;
}
