@import "./index";

// start component who we are

.whoWeAreTextContainer,
.InformationsContainer,
.WhatWeDoContainer {
    @include directionOne(column);
}

.whoAreText > p,
.WhatWeDoText > p {
    width: 100%;
    text-align: justify;
}

.whoWeAreTextContainer > p,
.WhatWeDoContainer > p {
    text-align: center;
}

.whoAreImage {
    @include directionOne(column);
}

// finish component who we are

.AboutMoreContainer {
    @include directionOne(column);
    text-align: center;
}

.whoAreContainer > p {
    @include title(4vw, $pink);
}

.whoAreText p,
.AboutMoreText p,
.WhatWeDoText p,
.WhyThisCaseIsImpotantText p,
.BenefitsText p {
    @include text($black, 2vw);
}

.whoAreText span {
    @include text($pink, 2vw);
}

.whoAreImage img {
    @include photo-size;
}

@media screen and (max-width: 900px) {
    .whoWeAreTextContainer,
    .InformationsContainer,
    .WhatWeDoContainer {
        width: 70%;
    }

    .whoAreText p,
    .WhatWeDoText p,
    .WhyThisCaseIsImpotantText p,
    .BenefitsText p {
        @include text($black, 4vw);
    }

    .whoAreText span {
        @include text($pink, 4vw);
    }

    .WhyThisCaseIsImpotantText,
    .BenefitsText {
        @include text($black, 4vw);
        width: 70%;
    }
}

@media screen and (min-width: 1400px) {
    .whoAreText p,
    .AboutMoreText p,
    .WhatWeDoText p,
    .WhyThisCaseIsImpotantText p,
    .BenefitsText p {
        @include text($black, 1.5vw);
    }

    .whoAreText span {
        @include text($pink, 1.5vw);
    }
}
