@import "./index";

// start component who we are

.whoWeAreTextContainer {
    width: 90%;
}

.whoWeAreTextContainer > p {
    text-align: center;
}

.whoAreImage {
    @include directionOne(column);
}

// finish component who we are

.AboutMoreContainer {
    @include directionOne(column);
}

.whoAreContainer > p,
.AboutMoreContainer > p {
    @include title(4vw, $pink);
}

.whoAreText,
.AboutMoreText,
.WhyThisCaseIsImpotantText,
.BenefitsTexts {
    @include text($black, 1rem);
}

.whoAreText span {
    @include text($pink, 1rem);
}

.whoAreImage img {
    @include photo-size;
}

@media screen and (max-width: 900px) {
    .WhyThisCaseIsImpotantText,
    .BenefitsText {
        @include text($black, 4vw);
        width: 70%;
    }
}
