// colors

$pink: #ED2980
$black: #000000
$input-color: #FCDDEC
$sign-up-color: #F499D0
$footer-color: #fff

// images sizes

$image-length: 30vh
$image-width: 30vw
$photo-large: 30vw
$photo-width: 30vw
